html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.avatar {
    border-radius: 24px;
    height: 48px;
    width: 48px;
}
.card-square .mdl-card__title {
    min-height: 250px;
}
.drawer {
    border: none;
}
.drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: flex-end;
    padding: 16px;
}
.embed-responsive {
	height: 0;
	padding: 0;
    position: relative;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.embed-responsive-item.embed-responsive-item--bordered {
    width: calc(100% - 6px);
    border-width: 3px;
}
embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.layout .navigation .mdl-navigation__link {
    align-items: center;
    color: rgba(0, 0, 0, 0.81);
    display: flex !important;
    flex-direction: row;
    font-weight: 500;
}
.mdl-card__actions .mdl-button {
    display: inline-block;
    float: right;
}
.navigation {
    flex-grow: 1;
}
.navigation .mdl-navigation__link .fa,
.navigation .mdl-navigation__link .material-icons,
.navigation .mdl-navigation__link .nav-icon,
.mini-icon-btn {
    color: rgba(0, 0, 0, 0.81);
    font-size: 24px;
    width: 24px
}
.navigation .mdl-navigation__link .fa,
.navigation .mdl-navigation__link .material-icons,
.navigation .mdl-navigation__link .nav-icon {
    margin-right: 32px;
}
